<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pq.dao.AttendMapper">
    <resultMap id="BaseResultMap" type="com.pq.pojo.Attend">
        <id column="ATTEND_ID" property="attendId" jdbcType="VARCHAR"/>
        <result column="ATTEND_DATE" property="attendDate" jdbcType="VARCHAR"/>
        <result column="ATTEND_MORNING" property="attentMorning" jdbcType="VARCHAR"/>
        <result column="ATTEND_EVENING" property="attentEvening" jdbcType="VARCHAR"/>
        <result column="WORK_HOURS" property="workHours" jdbcType="INTEGER"/>
        <result column="ABSENCE" property="absence" jdbcType="INTEGER"/>
        <result column="UP_STATUS" property="upStatus" jdbcType="INTEGER"/>
        <result column="DOWN_STATUS" property="downStatus" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertAttend" parameterType="com.pq.pojo.Attend">
        INSERT INTO t_attend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attendId != null">
                ATTEND_ID,
            </if>
            <if test="attendDate != null">
                ATTEND_DATE,
            </if>
            <if test="attentMorning != null">
                ATTEND_MORNING,
            </if>
            <if test="attentEvening != null">
                ATTEND_EVENING,
            </if>
            <if test="workHours != null">
                WORK_HOURS,
            </if>
            <if test="absence != null">
                ABSENCE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attendId != null">
                #{attendId},
            </if>
            <if test="attendDate != null">
                #{attendDate},
            </if>
            <if test="attentMorning != null">
                #{attentMorning},
            </if>
            <if test="attentEvening != null">
                #{attentEvening},
            </if>
            <if test="workHours != null">
                #{workHours},
            </if>
            <if test="absence != null">
                #{absence},
            </if>
        </trim>

    </insert>


    <insert id="insertRelation" parameterType="com.pq.pojo.AttendRelation">
        INSERT INTO t_user_attend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userAttendId != null">
                USER_ATTEND_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="attendId != null">
                ATTEND_ID,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userAttendId != null">
                #{userAttendId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="attendId != null">
                #{attendId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateAttend" parameterType="com.pq.pojo.Attend">
        UPDATE t_attend SET
        <trim  suffixOverrides=",">
            <if test="attendDate != null">
                ATTEND_DATE = #{attendDate},
            </if>
            <if test="attentMorning != null">
                ATTEND_MORNING = #{attentMorning},
            </if>
            <if test="attentEvening != null">
                ATTEND_EVENING = #{attentEvening},
            </if>
            <if test="workHours != null">
                WORK_HOURS = #{workHours},
            </if>
            <if test="absence != null">
                ABSENCE = #{absence},
            </if>
            <if test="upStatus != null">
                UP_STATUS = #{upStatus},
            </if>
            <if test="downStatus != null">
                DOWN_STATUS = #{downStatus},
            </if>
        </trim>
        WHERE  ATTEND_ID = #{attendId}
    </update>

    <select id="selectRelationByUserId" resultType="java.lang.String">
        SELECT tua.ATTEND_ID FROM t_user_attend tua
        LEFT JOIN t_attend ta ON tua.ATTEND_ID = ta.ATTEND_ID
        WHERE tua.USER_ID = #{userId}
        <if test="startTime != null">
         AND ta.ATTEND_DATE BETWEEN #{startTime} AND #{endTime}</if>
        ORDER BY ta.ATTEND_DATE
    </select>
    <select id="selectByAttendId" resultMap="BaseResultMap">
        SELECT * FROM t_attend WHERE ATTEND_ID = #{attendId}
    </select>
    <select id="selectForDeptName" resultType="java.lang.String">
        SELECT DEPT_NAME FROM t_dept td
        LEFT JOIN t_emp_job tej ON td.DEPT_ID = tej.DEPT_ID
        WHERE tej.EMP_ID = #{userId}
    </select>
    <select id="selectForJobName" resultType="java.lang.String">
            SELECT JOB_NAME FROM t_job tj
            LEFT JOIN t_emp_job tej ON tj.JOB_ID = tej.JOB_ID
            WHERE tej.EMP_ID = #{userId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
       SELECT * FROM t_attend
    </select>

    <select id="selectForEmpName" resultType="java.lang.String">
       SELECT EMP_NAME FROM t_emp WHERE EMP_ID = #{userId}
    </select>
    <select id="countForWork" resultType="java.lang.Integer">
        SELECT count(1) FROM  t_attend ta
        LEFT JOIN t_user_attend tua ON ta.ATTEND_ID = tua.ATTEND_ID
        WHERE tua.USER_ID = #{userId} AND ta.ATTEND_MORNING BETWEEN #{startTime} AND #{endTime};
    </select>
    <select id="selectCountByUserId" resultType="java.lang.Integer">
        SELECT count(1) FROM t_attend ta
        LEFT JOIN t_user_attend tua ON ta.ATTEND_ID = tua.ATTEND_ID
        WHERE tua.USER_ID = #{userId} AND ta.ATTEND_DATE = #{date}
    </select>

</mapper>