<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pq.dao.DeptMapper">
    <insert id="insertDept">
        INSERT INTO t_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                DEPT_ID,
            </if>
            <if test="deptName != null">
                DEPT_NAME,
            </if>
            <if test="deptRemark != null" >
                DEPT_REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="deptName != null">
                #{deptName},
            </if>
            <if test="deptRemark != null" >
                #{deptRemark},
            </if>
        </trim>

    </insert>
    <delete id="delByDeptId">
      DELETE FROM t_dept WHERE DEPT_ID = #{deptId}
    </delete>

    <select id="selectAll" resultType="com.pq.pojo.Dept">
        select DEPT_ID deptId,DEPT_NAME deptName,DEPT_REMARK deptRemark from t_dept
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from t_emp te
         left join t_emp_job tej on te.EMP_ID = tej.EMP_ID
        left join t_dept td on tej.DEPT_ID = td.DEPT_ID
        where td.DEPT_ID = #{deptId}
    </select>
    <select id="selectByDeptId" resultType="java.lang.String">
        SELECT JOB_NAME jobName FROM t_job tj LEFT JOIN t_emp_job tej ON tj.JOB_ID = tej.JOB_ID
        LEFT JOIN t_dept td ON tej.DEPT_ID = td.DEPT_ID
        WHERE td.DEPT_ID = #{deptId}
    </select>

</mapper>